{% extends 'base.html.twig' %}

{% block title %}New Exposition{% endblock %}

{% block body %}
    <h1>Create new Exposition</h1>

    {{ include('exposition/_form.html.twig') }}

    <a href="{{ path('app_exposition_index') }}">back to list</a>
{% endblock %}
