{% extends 'base.html.twig' %}

{% block title %}Confirmation visite{% endblock %}

{% block body %}
<div class="row m-3 text-center">
    <h1>Nouvelle entrée</h1>
</div>
<div class="row mt-10 text-center">
    <p>Entrée <strong>n°{{ visite.id }}</strong> validée</p>
</div>
<div class="row m-3 text-center">
    <p>Veuillez donner ce numéro au visiteur référent.
        Il devra le conserver précieusement et devra être communiqué à la sortie.</p>
</div>
<div class="row m-3 text-center">
    <a href="{{ path('app_create_visite') }}"><button class="btn btn-primary">Enregistrer une nouvelle entrée</button></a>
</div>
{% endblock %}
